:root{
    --background-color: #ffffff ;
    --hover-color: #2196F3;
    --brand-color: #212121;
    --paragraph-color:#757575;
    --icon-color: #AFB1B8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color);
    background-color: var(--background-color);
    font-size: 14px;
    
}
a{
    text-decoration: none;
    color: var(--brand-color);
}
li{
    list-style: none;
}
img{
    display: block;
}
.section{
    padding: 94px 0;
}

/* Studio */
.header{
    border-bottom: 1px solid #ECECEC;
}
.header-container{
    display: flex;
    align-items: center;
}
.menu, .contact{
    display: flex;
    align-items: center;
    margin-left: auto;

}
.menu-list, .contact-list{
    margin-right: 50px;
}
.menu-list:last-child,
.contact-list:last-child{
    margin-right: 0;
}
.nav-link{
    color: var(--brand-color);
}
.menu-link{
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    padding: 32px 0;
    display: block;
}
.nav-link:hover, .nav-link:focus{
    color: var(--hover-color);
}

.contact-link{
    color: var(--paragraph-color);
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    padding: 32px 0;
    display: block;  
    width: 170px;
}
.contact-icon{
    width: 18px;
    height: 16px;
    margin-right: 4px;
}
.contact-link:hover, 
.contact-link:focus{
    fill: var(--hover-color);
}
.title-header{
    font-family: 'Raleway', sans-serif;
    color: var(--brand-color);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26); 
    letter-spacing: 0.03em;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.current{
    color: var(--hover-color);
}
.hero{
    text-align: center;
    background-color: #2F303A;
    background-image: linear-gradient(to top, #2F303A66 40%, #2F303A66 80% ), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 0;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color); 
    margin-bottom: 30px;
    width: 700px;
    margin: 0 auto;
}
.button-hero{
    background-color: var(--hover-color);
    color: var(--background-color);
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    cursor: pointer;
    padding: 10px 32px;
    border: 1px solid var(--hover-color);
    border-radius: 4px;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.features-list{
    display: flex;

}
.features-list > .features-items:not(:first-child){
    margin-left: 30px;
}
.features-title{
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.features-items{
    width: 270px;

}
.features-text{
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
}
.features-block{
    width: 270px;
    height: 120px;
    /* display: flex;  */
    background-color: #F5F4FA; 
    border-radius: 4px;
    margin-bottom: 30px;
}

.features-icon-block{
    width: 100%;
    height: 100%;
    padding: 25px 100px;
}
.features-icon{

}
.work-section{
    padding-top: 0;
}
.work-list{
    display: flex;
}
.work-items:not(:first-child){
    margin-left: 30px;
}
.work-title{
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc( 42 / 36);
    letter-spacing: 0.03em;  
    text-align: center;
}
.team-section{
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-list{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}
.team-items{
    background-color: #fff;
    box-shadow: 0 4px 2px -2px rgb(164, 164, 164);
}
.team-items:not(:first-child){
    margin-left: 30px;
}
.team-title{
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc( 42 / 36);
    letter-spacing: 0.03em;
    text-align: center;
}
.team-wraper{
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-name{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    text-align: center;
}
.team-skills{
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
    text-align: center;
}
.social-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.social-items{
    width: 44px;
    height: 44px;
}
.social-items:not(:last-child){
    margin-right: 10px;
}
.social-icon{
    fill: var(--icon-color);
    width: 100%;
    height: 100%;
}
.social-icon:hover{
    fill: #fff;
    background-color: var(--hover-color);
    border-radius: 50%;
}
.client-list{
    display: flex;
    justify-content: space-between;
}
.client-items{
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
}

.client-icon-block{
    fill: var(--icon-color);
    width: 100%;
    height: 100%;
    padding: 16px 32px;
}
.client-items:hover{
    border-color:  var(--hover-color);
}
.client-icon-block:hover{
    fill: var(--hover-color);
}
/*  Portfolio */

.title-color{
    color: var(--hover-color);
}

.filters{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filters-list:not(:first-child){
    margin-left: 8px;    
}
.filters-button{
    cursor: pointer;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: calc(26 / 16);
    padding: 6px 22px; 
    border: 1px solid #F5F4FA;
    border-radius: 4px; 
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-list{
    width: calc((100% - 60px) / 3);    
}
.portfolio-list:nth-child(3n + 1){
    margin-left: 0;
}
.portfolio-list:nth-last-child(-n + 3){
    margin-bottom: 0;
}
.portfolio-container{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}
.portfolio-title{
    font-size: 18px;
    letter-spacing: 0.06em;
    color: var(--brand-color);
    line-height: calc(36 / 18);
    margin-bottom: 4px;
}
.portfolio-text{
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
    line-height: calc(30 / 16);
}
/* Схований заголовок */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* footer */


.footer-link{
    color: rgba(255, 255, 255, 0.6);
}
.filters-button:hover, .filters-button:focus {
    background-color: var(--hover-color);
    color: var(--background-color);
}
.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-flex{
    display: inline-flex;
    width: 550px;
    margin-left: 150px;
}
.footer-block{
    margin-right: 70px;
}
.title-footer{
    font-family: 'Raleway', sans-serif;
    color: var(--background-color);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26); 
    letter-spacing: 0.03em;
}
.footer-list{
    flex-direction: column;
}
.footer-items{
    margin-top: 9px;
}
.address-section{
    margin-top: 9px;
}
.map-link, .footer-link{
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: calc(24 / 14);
}
.map-link{
    color: var(--background-color);
}
.footer-container-social{
    padding-top: 20px;
}
.footer-title-social{
    color: #fff;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-social-icon{
    width: 100%;
    height: 100%;
    fill: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
.footer-social-icon:hover{
    background-color: var(--hover-color);
}