:root{
    --background-color: #ffffff ;
    --hover-color: #2196F3;
    --brand-color: #212121;
    --paragraph-color:#757575;
}
body{
    font-family: 'Roboto', sans-serif;
    
    color: var(--brand-color);
    background-color: var(--background-color);
    font-size: 14px;
}
a{
    text-decoration: none;
    color: var(--brand-color);
}
li{
    list-style: none;
}
button{
    cursor: pointer;
    letter-spacing: 0.5px;
}
.title-header{
    font-family: 'Raleway', sans-serif;
    color: var(--brand-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.5px;  
}
.title-color{
    color: var(--hover-color);
}
.link-hover{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.menu-link{
    color: var(--brand-color);
}
.link-hover:hover, .link-hover:focus{
    color: var(--hover-color);
}
.contact-list, .menu-list, .filters-list{
    font-weight: 500;
    font-size: 14px;
}
.contact-link{
    color: var(--paragraph-color);
}
.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    color: var(--brand-color);
}
.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: var(--paragraph-color);
}
.footer-link{
    color: rgba(255, 255, 255, 0.6);
}
.filters-button:hover, .filters-button:focus {
    background-color: var(--hover-color);
    color: var(--background-color);
}
.footer{
    background-color: #2F303A;
}
.title-footer{
    font-family: 'Raleway', sans-serif;
    color: var(--background-color);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.5px;
}
.map-link, .footer-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.map-link{
    color: var(--background-color);
}